.QnA-container{
	width: 100%;
	height: 100%;
	background-color: #E8F5E9;
}

.QnA-form{
	margin-left: auto;
	margin-right: auto;
}

.QnA-content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 800px;
}

.QnA-header{
	font-size: 20pt;
	font-weight: 600;
}

.QnA-search{
	width: 300px;
	border: 1px solid #AAA8A8;
    border-radius: 80px;
    padding: 3px 20px;
}

.QnA-searchbutton{
	box-sizing: border-box;
  	appearance: none;
  	background-color: transparent;
  	border: 2px solid black;
  	border-radius: 0.6em;
  	color: black;
  	cursor: pointer;
  	align-self: center;
  	font-size: 1rem;
  	font-weight: 400;
  	line-height: 1;
  	margin: 20px;
  	padding: 0.4em 1.2em;
  	text-decoration: none;
  	text-align: center;
  	text-transform: uppercase;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 700;
  	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out
}

.QnA-searchbutton:hover{
	 box-shadow: 0 0 40px 40px #f15d30 inset;
	 color: #fff;
	 outline: 0;
}

.QnA-searchbutton:focus {
	color: #fff;
    outline: 0;
}

.QnA-left-lists{
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
}

.QnA-left-list{
	padding: 5px 0px;
}

.QnA-body{
	width: 800px;
	margin-left: 50px;
}

.QnA-body-title{
	display: flex;
	justify-content: space-between;
	align-content: center;
    align-items: center;
}

.highlighted {
    color: #f15d30;
    font-weight: 600;
  }

.QnA-body-list{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.QnA-body-list-FAQ{
	border-bottom: 1px solid #dddddd;
}

.QnA-list-titles{
	display: flex;
	width: 100%;
	padding: 20px 0px;
    font-weight: 600;
}

.QnA-list-title1{
	flex-basis: 100px;
    text-align: center;
    line-height: 20px;
}

.QnA-list-title2{
	flex-grow: 1;
    text-align: center;
    line-height: 20px;
   	background-color: white;    
   	height: 30px;
   	display: flex;
   	justify-content: center;
   	align-items: center;
}

.QnA-list-title3{
	flex-basis: 100px;
    text-align: center;
    line-height: 20px;
}

.QnA-list-title4{
	flex-basis: 100px;
    text-align: center;
    line-height: 20px;
}

.QnA-list-title5{
	flex-basis: 100px;
    text-align: center;
    line-height: 20px;
}

.QnA-lists{
	justify-content: space-between;
	display: flex;
	height: 30px;
	border-bottom: 1px solid #dddddd;
	padding: 14px 0px;
	height: 50px;
}

.QnA-list1{
	flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
}

.QnA-list2{
	padding-left: 70px;
	flex-grow: 1;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
}

.leftToRight::after {
  content: "";
  display: block;
  border-bottom: 3px solid #f15d30;
  opacity: 0.4;
  transition: width 250ms ease-out;
  left: auto;
  right: 0;
  width: 0;
  position: relative; /* 추가: 상대적인 위치 지정 */
}

.leftToRight:hover::after {
  width: 100%; /* 변경: 항상 텍스트 길이에 맞게 줄이 커짐 */
  left: 0;
  right: auto;
}

.leftToRight {
  display: inline-block; /* 추가: 텍스트가 줄 바꿈되지 않도록 인라인 블록으로 설정 */
  position: relative; /* 추가: 상대적인 위치 지정 */
  overflow: hidden; /* 추가: 텍스트 넘침 처리 */
  white-space: nowrap; /* 추가: 텍스트 줄 바꿈 방지 */
}

.QnA-list3{
	flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
}

.QnA-list4{
	flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: gray;
}

.QnA-list5{
	flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
}

.QnA-page-number{
	display: flex;
	justify-content: center;
}

/* QnA_insert */

.QnA-insert-container{
	width: 100%;
	height: 100%;
}

.QnA-insert-content{
    margin-top: 100px;
    width: 754px;
    margin-left: auto;
    margin-right: auto;
}

.QnA-insert-header{
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.QnA-insert-body{
    justify-content: flex-start;
	
}

.QnA-insert-button{
	justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 15px;
}

/* QnA_Detail */

.QnA-insert-bodytxt{
	height: auto;
	margin-bottom: 80px;
}


/* QnA_answer */
.QnA-answer-button{
	display: flex;
    justify-content: space-evenly;
}

.QnA-insert-answer{
	margin-left: auto;
	margin-right: auto;
}

/* 자주 묻는 질문 */
*{
  box-sizing: border-box; 
}
  
.que{
  position: relative;
  padding: 17px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  
}
  
.que::before{
  display: inline-block;
  content: 'Q';
  font-size: 14px;
  color: #f15d30;
  margin: 0 5px;
}

.message{
  position: relative;
  padding: 17px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  
}
  
.message::before{
  display: inline-block;
  content: '메세지:';
  font-size: 14px;
  color: #f15d30;
  margin: 0 5px;
}



.que.on>span{
  font-weight: bold;
  color: #f15d30; 
}

.message.on>span{
  font-weight: bold;
  color: #f15d30; 
}
  
.anw {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background-color: #f15d3017;
  padding: 27px 0;
}
  
.anw::before {
  display: inline-block;
  content: 'A';
  font-size: 14px;
  font-weight: bold;
  color: #f15d30;
  margin: 0 5px;
}

.messageans {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background-color: #f15d3017;
  padding: 27px 0;
}
  
.messageans::before {
  display: inline-block;
  content: '내용:';
  font-size: 14px;
  font-weight: bold;
  color: #f15d30;
  margin: 0 5px;
}

.arrow-wrap {
  position: absolute;
  top:50%; right: 10px;
  transform: translate(0, -50%);
}
  .highlight {
    background-color: #FFB4FF; /* 변경하고자 하는 색깔 */
    /*게시판 색상*/
  }

/* 화살표
.que .arrow-top {
  display: none;
}
.que .arrow-bottom {
  display: block;
}
.que.on .arrow-bottom {
  display: none;ot 
}
.que.on .arrow-top {
  display: block; 
}
*/

























