<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.pj.ask.AskMapper">
	<select id="getAllAsk" resultType="com.sh.pj.ask.AskDTO">
		select * from inquiry_tbl
	</select>

	<insert id="insertask" parameterType="com.sh.pj.ask.AskDTO">
		insert into inquiry_tbl
		values (inquiry_tbl_no_seq.nextval, #{inquiry_id}, #{inquiry_title},
		#{inquiry_body}, sysdate, #{inquiry_category},#{inquiry_encoding},
		#{inquiry_type}, #{inquiry_encodingbody})
	</insert>
	
	

	<select id="getaskno" resultType="com.sh.pj.ask.AskDTO">
		SELECT * FROM inquiry_tbl WHERE
		inquiry_no = #{inquiry_no}
	</select>

	<delete id="deleteask">
		DELETE FROM inquiry_tbl WHERE inquiry_no =
		#{inquiry_no}
	</delete>

	<update id="upadteask">
		update inquiry_tbl set inquiry_type =
		#{inquiry_type}, inquiry_question_day = sysdate,inquiry_title =
		#{inquiry_title},inquiry_body = #{inquiry_body} where inquiry_no =
		#{inquiry_no}
	</update>


	<update id="askanswerdo">
		update inquiry_tbl set inquiry_type =
		#{inquiry_type}, inquiry_question_day = sysdate,inquiry_title =
		#{inquiry_title},inquiry_body= #{inquiry_body} ,inquiry_encoding='답변',inquiry_encodingbody=#{inquiry_encodingbody} where inquiry_no= #{inquiry_no}
	</update>

	<select id="searchask" resultType="com.sh.pj.ask.AskDTO">
		SELECT * FROM inquiry_tbl
		WHERE inquiry_title LIKE '%' || #{keyword} || '%' OR inquiry_body LIKE
		'%'
		|| #{keyword} || '%'
	</select>

	<select id="getMsg" resultType="com.sh.pj.ask.AskDTO">


		SELECT * fROM (SELECT ROWNUM AS rn, it.* FROM inquiry_tbl it WHERE
		(it.inquiry_title LIKE '%' || #{a_search} || '%' OR it.inquiry_body
		LIKE '%' || #{a_search} || '%')
		AND it.inquiry_category = #{category}
		ORDER BY it.inquiry_question_day DESC)
		WHERE rn &gt;= #{a_start} and rn &lt;= #{a_end}


	</select>

	<select id="getMsgCount" resultType="int"
		parameterType="com.sh.pj.ask.AskSelector">
		select count(*) from inquiry_tbl where inquiry_category = #{category} and (inquiry_body like
		'%'||#{a_search}||'%' or inquiry_title like '%'||#{a_search}||'%')
	</select>


</mapper>