<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.pj.ask.AskMapper">
	<select id="getAllAsk" resultType="com.sh.pj.ask.AskDTO">
		select * from inquiry_tbl
	</select>

	<insert id="insertask" parameterType="com.sh.pj.ask.AskDTO">
		insert into inquiry_tbl
		values (inquiry_tbl_no_seq.nextval, #{inquiry_id}, #{inquiry_title},
		#{inquiry_body}, sysdate, #{inquiry_category},#{inquiry_encoding},
		#{inquiry_type})
	</insert>

	<select id="getaskno" resultType="com.sh.pj.ask.AskDTO">
		SELECT * FROM inquiry_tbl WHERE
		inquiry_no = #{inquiry_no}
	</select>

	<delete id="deleteask">
		DELETE FROM inquiry_tbl WHERE inquiry_no = #{inquiry_no}
	</delete>

	<update id="upadteask">
		update inquiry_tbl set inquiry_type =
		#{inquiry_type}, inquiry_question_day = sysdate,inquiry_title =
		#{inquiry_title},inquiry_body = #{inquiry_body} where inquiry_no =
		#{inquiry_no}
	</update>

	<select id="searchask" resultType="com.sh.pj.ask.AskDTO">
		SELECT * FROM inquiry_tbl
		WHERE inquiry_title LIKE '%' || #{keyword} || '%' OR inquiry_body LIKE '%'
		|| #{keyword} || '%'
	</select>

	<select id="getMsg" resultType="com.sh.pj.ask.AskDTO">
		
		SELECT * FROM (SELECT ROWNUM AS rn, it.* FROM inquiry_tbl it WHERE it.inquiry_title LIKE '%' || #{search} || '%' OR it.inquiry_body LIKE '%' || #{search} || '%'
    ORDER BY it.inquiry_question_day DESC
) WHERE rn &gt;= #{start} and rn &lt;= #{end}
		
	</select>




	<select id="getMsgCount" resultType="int"
	parameterType="com.sh.pj.ask.AskSelector">
		select count(*) from inquiry_tbl where inquiry_body like '%'||#{search}||'%' or inquiry_title like '%'||#{search}||'%'
	</select>


</mapper>