<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.pj.care.CareMapper">

	<select id="getAll" resultType="com.sh.pj.care.CareDTO">
		select * from caresitter_tbl
	</select>
		
	<select id="detail" resultType="com.sh.pj.care.CareDTO">
		select * from caresitter_tbl where cs_no = #{cs_no}
	</select>

	
	<insert id="regCareSitter">
		insert into caresitter_tbl values (#{cs_id}, #{cs_file}, #{cs_confirm}, #{cs_confirm_answer}, #{cs_cctv}, #{cs_term}, #{cs_day}, #{cs_hour}, #{cs_location1}, #{cs_location2}, #{cs_location3}, #{cs_extra}, #{cs_exp}, #{cs_pay}, #{cs_point}, #{cs_count}, #{cs_can_do},0,null, null, null,0)
	</insert>

	<insert id="regDolbom">
		insert into dolbom_tbl values (dolbom_tbl_seq.nextval, #{d_id}, #{d_name}, #{d_category}, #{d_year}, #{d_month}, #{d_day}, #{d_hour}, #{d_check}, #{d_location}, #{d_gender}, #{d_personality}, #{d_pay}, #{d_cctv}, #{d_can_do}, #{d_sitterage}, #{d_need}, #{d_title}, #{d_term}, null, null, null)
	</insert>
	<update id="changecsstatus">
		update jsn_user_tbl set user_cs_status = 1 where user_id = #{user_id}
	</update>

	<select id="getCareSitterInfo" resultType="com.sh.pj.care.CareDTO">
		select * from caresitter_tbl where cs_id = #{user_id}
	</select>
	

	<select id="getAllTaker" resultType="com.sh.pj.account.DolbomDTO">
		select*from dolbom_tbl where d_category=1
	</select>

	<select id="detailtaker" resultType="com.sh.pj.account.DolbomDTO">
		select*from dolbom_tbl where d_no = #{d_no}
	</select>
	
	<select id="detailUser" resultType="com.sh.pj.account.MemberDTO">
		select * from jsn_user_tbl where user_id = #{cs_id}
	</select>
		
	<select id="detailUser2" resultType="com.sh.pj.account.MemberDTO">
		select * from jsn_user_tbl where user_id = #{d_id}
	</select>

	<update id="updateCareSitter">
		update caresitter_tbl set cs_file = #{cs_file}, cs_confirm = #{cs_confirm}, cs_confirm_answer = #{cs_confirm_answer}, cs_cctv = #{cs_cctv}, cs_term = #{cs_term}, cs_day = #{cs_day}, cs_hour = #{cs_hour}, cs_location1 = #{cs_location1}, cs_location2 = #{cs_location2}, cs_location3 = #{cs_location3}, cs_extra = #{cs_extra}, cs_exp = #{cs_exp}, cs_pay = #{cs_pay}, cs_can_do = #{cs_can_do} where cs_id = #{cs_id}
	</update>

	
	<select id="review" resultType="com.sh.pj.ReviewDTO">
		select * from review_tbl where review_sitter_id = #{ps_id}
	</select>
</mapper>