<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.pj.account.MemberMapper">

	<select id="getUserID" resultType="com.sh.pj.account.MemberDTO">
		select * from jsn_user_tbl
		where user_id = #{user_id}
	</select>

	<insert id="regAccount">
		insert into jsn_user_tbl values (#{user_id}, #{user_pw}, #{user_name},
		#{user_gender}, #{user_phone}, #{user_email_authkey}, 1, #{user_email},
		#{user_location}, #{user_pic})
	</insert>
	
	<select id="checkEmail" resultType="int">
		select count(*) from jsn_user_tbl where user_email = #{user_email}
	</select>

	<select id="getUserEMail" resultType="com.sh.pj.account.MemberDTO">
		select * from jsn_user_tbl
		where user_email = #{user_email}
	</select>
	
	<update id="updateUserPW">
		update jsn_user_tbl set user_pw = #{user_pw} where user_id = #{user_id}
	</update>
	
</mapper>