<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.pj.account.MemberMapper">

	<select id="getUserID" resultType="com.sh.pj.account.MemberDTO">
		select * from jsn_user_tbl
		where user_id = #{user_id}
	</select>

	<insert id="regAccount">
		insert into jsn_user_tbl values (#{user_id}, #{user_pw}, #{user_name},
		#{user_gender}, #{user_phone}, #{user_email_authkey}, 1, #{user_email},
		#{user_location}, #{user_pic}, 0, 0, 0, 0, 0, 0, #{user_age}, 0)
	</insert>
	
	<select id="checkEmail" resultType="int">
		select count(*) from jsn_user_tbl where user_email = #{user_email}
	</select>

	<select id="getUserEMail" resultType="com.sh.pj.account.MemberDTO">
		select * from jsn_user_tbl
		where user_email = #{user_email}
	</select>
	
	<update id="updateUserPW">
		update jsn_user_tbl set user_pw = #{user_pw} where user_id = #{user_id}
	</update>
	
	<select id="checkid" resultType="int">
		select count(*) from jsn_user_tbl where user_id = #{user_id}
	</select>
	
	<select id="checkuserEMail" resultType="int">
		select count(*) from jsn_user_tbl where user_email = #{user_email}
	</select>
	
	
	<insert id="regPTAccount">
		insert into pettaker_tbl values(#{pt_id}, #{pt_file}, 0, 'ndy')
	</insert>
	
	<insert id="regMTAccount">
		insert into momtaker_tbl values(#{mt_id}, #{mt_file}, 0, 'ndy')
	</insert>
	
	<insert id="regCTAccount">
		insert into caretaker_tbl values(#{ct_id}, #{ct_file}, 0, 'ndy')
	</insert>
	
	<update id="changectstatus">
		update jsn_user_tbl set user_ct_status = 1 where user_id = #{user_id}
	</update>
	
	<update id="changemtstatus">
		update jsn_user_tbl set user_mt_status = 1 where user_id = #{user_id}
	</update>
	
	<update id="changeptstatus">
		update jsn_user_tbl set user_pt_status = 1 where user_id = #{user_id}
	</update>
	
	<select id="countAll" resultType="com.sh.pj.account.countDTO">
		select * from count_tbl where count_no = 1
	</select>
	
	<update id="upSCount">
		update count_tbl set count_sitter = count_sitter + 1 where count_no = 1
	</update>
	
	<update id="upDCount">
		update count_tbl set count_dolbom = count_dolbom + 1 where count_no = 1
	</update>
	
	<update id="endCnt">
		update contract_tbl set cnt_sitter_ok = 3 where cnt_no = #{cnt_no}
	</update>
	
	<select id="getAllNotRegReview" resultType="com.sh.pj.mypage.ContractDTO">
		select * from contract_tbl where cnt_sitter_ok = 3 and cnt_dolbom_ok = 2
	</select>
	
	<select id="countMustReviewCnt" resultType="int">
		select count(*) from contract_tbl where cnt_dolbom_no = #{d_no}		
		and cnt_sitter_ok = 3 and cnt_dolbom_ok = 2
	</select>
	
	<update id="updateReviewStatus">
		update contract_tbl set cnt_dolbom_ok = 3 where cnt_no = #{review_cont_no}
	</update>
	
	<select id="getDolbomInfo" resultType="com.sh.pj.account.DolbomDTO">
		select * from dolbom_tbl where d_no = #{d_no}
	</select>
	
	<update id="updateOnDolbomInfo">
		update dolbom_tbl set d_onoff = 'on' where d_no = #{d_no}
	</update>
	<update id="updateOffDolbomInfo">
		update dolbom_tbl set d_onoff = 'off' where d_no = #{d_no}
	</update>
	
	
	<!-- 최초 카운트 계산용 메소드 / 계산 후 주석처리해도 상관 없음 -->
	<select id="countPetSitter" resultType="int">
		select count(*) from petsitter_tbl
	</select>
	<select id="countMomSitter" resultType="int">
		select count(*) from momsitter_tbl
	</select>
	<select id="countCareSitter" resultType="int">
		select count(*) from caresitter_tbl
	</select>
	<select id="countDolbom" resultType="int">
		select count(*) from dolbom_tbl
	</select>
	<select id="countCont" resultType="int">
		select count(*) from contract_tbl where cnt_sitter_ok >= 2 and cnt_dolbom_ok >= 2
	</select>
	
	<insert id="regDefaultcount">
		insert into count_tbl values (1, #{count_sitter}, #{count_dolbom}, 1557, #{count_cont})
	</insert>
	
	<update id="msUpdate">
		update jsn_user_tbl set user_ms_status = 3 where user_id = #{ms_id}
	</update>
	
	<update id="csUpdate">
		update jsn_user_tbl set user_cs_status = 3 where user_id = #{cs_id}
	</update>
	
	<update id="psUpdate">
		update jsn_user_tbl set user_ps_status = 3 where user_id = #{ps_id}
	</update>
	
	<update id="mtUpdate">
		update jsn_user_tbl set user_mt_status = 2 where user_id = #{mt_id}
	</update>
	
	<update id="ctUpdate">
		update jsn_user_tbl set user_ct_status = 2 where user_id = #{ct_id}
	</update>
	
	<update id="ptUpdate">
		update jsn_user_tbl set user_pt_status = 2 where user_id = #{pt_id}
	</update>
	
</mapper>