<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.pj.mom.MomMapper">

	<select id="getAll" resultType="com.sh.pj.mom.MomDTO">
		select * from momsitter_tbl
	</select>
	
	<!-- , jsn_user_tbl 
		where user_id = ms_id and		
		ms_id = #{ms_id} -->
		
	<select id="detail" resultType="com.sh.pj.mom.MomDTO">
		select * from momsitter_tbl where ms_no = #{ms_no}
	</select>

	<insert id="regMomSitter">
		insert into momsitter_tbl values (#{ms_id}, #{ms_file}, #{ms_confirm}, #{ms_confirm_answer}, #{ms_cctv}, #{ms_term}, #{ms_day}, #{ms_hour}, #{ms_location1}, #{ms_location2}, #{ms_location3}, #{ms_extra}, #{ms_exp}, #{ms_pay}, #{ms_point}, #{ms_count}, #{ms_can_do}, #{ms_can_type}, null, null, null)
	</insert>




</mapper>