<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.pj.mypage.MypageMapper">

	<select id="getMember" resultType="com.sh.pj.account.MemberDTO">
		select * from jsn_user_tbl
		where user_id = #{user_id}
	</select>

	<update id="PWUpdate"
		parameterType="com.sh.pj.account.MemberDTO">
		update jsn_user_tbl
		set user_pw =
		#{user_pw}
		where user_id
		= #{user_id}
	</update>

	<update id="updateProfile"
		parameterType="com.sh.pj.account.MemberDTO">
		update jsn_user_tbl
		set user_location = #{user_location
		}, user_phone = #{user_phone},
		user_pic = #{user_pic}
		where user_id =
		#{user_id}
	</update>

	<select id="getMemberById"
		resultType="com.sh.pj.account.MemberDTO">
		select * from jsn_user_tbl
		where user_id = #{user_id}
    </select>

   
   <select id="getPetDTO" resultType="com.sh.pj.pet.PetDTO">
  	 	select * from petsitter_tbl where ps_id = #{cnt_sitter_id}
   </select>
   
   <select id="getDolbomDTO" resultType="com.sh.pj.account.DolbomDTO">
  	 	select * from dolbom_tbl where d_no = #{cnt_dolbom_no}
   </select>
   
   <select id="getTakerDTO" resultType="com.sh.pj.account.MemberDTO">
  	 	select * from jsn_user_tbl where user_id = #{d_id}
   </select>
    <select id="getAllmom" resultType="com.sh.pj.mom.MomDTO">
    	select * from momsitter_tbl where ms_id = #{ms_id}
    </select>
    

    <insert id="insertmoney">
    	insert into money 
    	values (money_seq.nextval, #{mm_id}, #{mm_name}, #{mm_date}, #{mm_ticket}, #{mm_price}, #{mm_state}, sysdate, null)
    </insert>

      <select id="getAllcare" resultType="com.sh.pj.care.CareDTO">
    	select * from caresitter_tbl where ms_id = #{ms_id}
    </select>
     <select id="getAllpet" resultType="com.sh.pj.pet.PetDTO">
    	select*from petsitter_tbl where ps_no = #{ps_no}
    </select>




	<select id="getAllSitterCont"
		resultType="com.sh.pj.mypage.ContractDTO">
		select * from contract_tbl where cnt_sitter_id =
		#{cnt_sitter_id} and
		cnt_dolbom_ok >= 1 and cnt_sitter_ok >=1 and cnt_dolbom_ok &lt;= 2 and cnt_sitter_ok &lt;=2
	</select>

	<select id="getAllDolbomCont"
		resultType="com.sh.pj.mypage.ContractDTO">
		select * from contract_tbl where cnt_dolbom_no =
		#{cnt_dolbom_no} and
		cnt_dolbom_ok >= 1 and cnt_sitter_ok >=1 and cnt_dolbom_ok &lt;= 2 and cnt_sitter_ok &lt;=2
	</select>

	<select id="getbuylist" resultType="com.sh.pj.mypage.MoneyDTO">
		select * from money where
		mm_state='신청완료'
	</select>

	<select id="getbuypersonallist" resultType="com.sh.pj.mypage.MoneyDTO">
		select * from money 
		 where mm_id= #{user_id}
	</select>

	<select id="countSitterCont" resultType="int">
		select count(*) from
		contract_tbl where cnt_sitter_id = #{cnt_sitter_id}
		and cnt_dolbom_ok >= 1 and cnt_sitter_ok >=1 and cnt_dolbom_ok &lt;= 2 and cnt_sitter_ok &lt;=2
	</select>

	<select id="countTakerCont" resultType="int">
		select count(*) from
		dolbom_tbl where d_id = #{user_id}
	</select>
	<select id="countDolbomCont" resultType="int">
		select count(*) from
		contract_tbl where cnt_dolbom_no = #{cnt_dolbom_no}		
		and cnt_dolbom_ok >= 1 and cnt_sitter_ok >=1 and cnt_dolbom_ok &lt;= 2 and cnt_sitter_ok &lt;=2
	</select>

	<select id="getDolbomList"
		resultType="com.sh.pj.account.DolbomDTO">
		select * from dolbom_tbl where d_id = #{user_id}
	</select>
	<select id="getPetDolbomList"
		resultType="com.sh.pj.account.DolbomDTO">
		select * from dolbom_tbl where d_id = #{user_id} and d_category = 3
	</select>
	<select id="getCareDolbomList"
		resultType="com.sh.pj.account.DolbomDTO">
		select * from dolbom_tbl where d_id = #{user_id} and d_category = 1
	</select>
	<select id="getMomDolbomList"
		resultType="com.sh.pj.account.DolbomDTO">
		select * from dolbom_tbl where d_id = #{user_id} and d_category = 2
	</select>

	<select id="getUserID" resultType="com.sh.pj.account.MemberDTO">
		select * from jsn_user_tbl
		where user_id = #{cnt_sitter_id}
	</select>

	<update id="confirmticket"
		parameterType="com.sh.pj.mypage.MoneyDTO">
		update money
		set mm_state = '확인완료'
		where mm_no = #{mm_no}
	</update>


	<update id="confirmdate1">
		UPDATE momsitter_tbl
		SET ms_ticket_start = sysdate,
		ms_ticket_end = ADD_MONTHS(sysdate, 1)
		WHERE ms_id = #{mm_id }
	</update>

	<update id="confirmdate3">
		UPDATE momsitter_tbl
		SET ms_ticket_start = sysdate,
		ms_ticket_end = ADD_MONTHS(sysdate, 3)
		WHERE ms_id = #{mm_id }
	</update>

	<update id="confirmdate6">
		UPDATE momsitter_tbl
		SET ms_ticket_start = sysdate,
		ms_ticket_end = ADD_MONTHS(sysdate, 6)
		WHERE ms_id = #{mm_id }
	</update>

	<update id="confirmdate12">
		UPDATE momsitter_tbl
		SET ms_ticket_start = sysdate,
		ms_ticket_end = ADD_MONTHS(sysdate, 12)
		WHERE ms_id = #{mm_id }
	</update>
	
	<update id="confirmdatePet1">
		UPDATE petsitter_tbl
		SET ps_ticket_start = sysdate,
		ps_ticket_emd = ADD_MONTHS(sysdate, 1)
		WHERE ps_id = #{mm_id }
	</update>

	<update id="confirmdatePet3">
		UPDATE petsitter_tbl
		SET ps_ticket_start = sysdate,
		ps_ticket_emd = ADD_MONTHS(sysdate, 3)
		WHERE ps_id = #{mm_id }
	</update>

	<update id="confirmdatePet6">
		UPDATE petsitter_tbl
		SET ps_ticket_start = sysdate,
		ps_ticket_emd = ADD_MONTHS(sysdate, 6)
		WHERE ps_id = #{mm_id }
	</update>

	<update id="confirmdatePet12">
		UPDATE petsitter_tbl
		SET ps_ticket_start = sysdate,
		ps_ticket_emd = ADD_MONTHS(sysdate, 12)
		WHERE ps_id = #{mm_id }
	</update>
	
		<update id="confirmdateCare1">
		UPDATE caresitter_tbl
		SET cs_ticket_start = sysdate,
		cs_ticket_end = ADD_MONTHS(sysdate, 1)
		WHERE cs_id = #{mm_id }
	</update>

	<update id="confirmdateCare3">
		UPDATE caresitter_tbl
		SET cs_ticket_start = sysdate,
		cs_ticket_end = ADD_MONTHS(sysdate, 3)
		WHERE cs_id = #{mm_id }
	</update>

	<update id="confirmdateCare6">
		UPDATE caresitter_tbl
		SET cs_ticket_start = sysdate,
		cs_ticket_end = ADD_MONTHS(sysdate, 6)
		WHERE cs_id = #{mm_id }
	</update>

	<update id="confirmdateCare12">
		UPDATE caresitter_tbl
		SET cs_ticket_start = sysdate,
		cs_ticket_end = ADD_MONTHS(sysdate, 12)
		WHERE cs_id = #{mm_id }
	</update>

	<select id="getPetSitter" resultType="com.sh.pj.pet.PetDTO">
		select * from petsitter_tbl
		where ps_id = #{user_id}
	</select>

	<select id="getDolbomInfo"
		resultType="com.sh.pj.account.DolbomDTO">
		select * from dolbom_tbl where d_no = #{d_no}
	</select>

	<update id="updateCntSitter">
		update contract_tbl set cnt_sitter_ok = 2 where
		cnt_no = #{cnt_no}
	</update>

	<update id="updateCntSitterNope">
		update contract_tbl set cnt_sitter_ok = 0 where
		cnt_no = #{cnt_no}
	</update>

	<update id="updateCntDolbom">
		update contract_tbl set cnt_dolbom_ok = 2 where
		cnt_no = #{cnt_no}
	</update>

	<update id="updateCntDolbomNope">
		update contract_tbl set cnt_dolbom_ok = 0 where
		cnt_no = #{cnt_no}
	</update>

	<select id="getcertiflist">
		select * from momsitter_tbl
		where cs_confirm = 0
	</select>
	
	<select id="getperiod" resultType="com.sh.pj.mom.MomDTO">
		SELECT ms_ticket_start, ms_ticket_end FROM momsitter_tbl 
		where ms_id = #{user_id}
	</select>
	
	<insert id="regReview">
		insert into review_tbl values(review_tbl_seq.nextval, #{review_taker_id}, #{review_sitter_id}, #{review_dolbom_no}, #{review_txt}, sysdate, #{review_point}, #{review_cont_no})
	</insert>
	
	<select id="couponlist" resultType="com.sh.pj.mypage.CouponDTO">
		select * from coupon
		where cp_id = #{user_id}
	</select>
</mapper>