<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.pj.mypage.MypageMapper">

	<select id="getMember" resultType="com.sh.pj.account.MemberDTO">
		select * from jsn_user_tbl
		where user_id = #{user_id}
	</select>
	
	 <update id="PWUpdate" parameterType="com.sh.pj.account.MemberDTO">
        update jsn_user_tbl
        set user_pw =
        #{user_pw}
        where user_id = #{user_id}
    </update>

	 <update id="updateProfile" parameterType="com.sh.pj.account.MemberDTO">
        update jsn_user_tbl
        set user_location = #{user_location }, user_phone = #{user_phone}, user_pic = #{user_pic}
        where user_id = #{user_id}
    </update>
    
    <select id="getMemberById" resultType="com.sh.pj.account.MemberDTO">
    	select * from jsn_user_tbl
		where user_id = #{user_id}
    	
    </select>
    
    <select id="getAllmom" resultType="com.sh.pj.mom.MomDTO">
    	select * from momsitter_tbl where ms_id = #{ms_id}
    </select>
    

    <insert id="insertmoney">
    	insert into money 
    	values (#{mm_id}, #{mm_name}, sysdate, #{mm_ticket}, #{mm_price}, #{mm_state})
    </insert>

      <select id="getAllcare" resultType="com.sh.pj.care.CareDTO">
    	select * from caresitter_tbl where ms_id = #{ms_id}
    </select>
     <select id="getAllpet" resultType="com.sh.pj.pet.PetDTO">
    	select*from petsitter_tbl where ps_no = #{ps_no}
    </select>


	<select id="getbuylist" resultType="com.sh.pj.mypage.MoneyDTO">
		select * from money
	</select>
</mapper>