@charset "UTF-8";

/* body {
	 overflow-y: scroll;
}
 */
 
 
 
/* 마이페이지 네비게이터 */
.mpMainContainer {
	width: 100vw;
	height: 100%;
	display: flex;
}

.mpContainer {
	width: 20vw;
}

.mpSubContainer {
	width: 20vw;
	height: 100vh;
	text-align: center;
	background-color: white;
}

#mpName {
	width: 20vw;
	height: 15vh;
	font-size: 20pt;
	display: flex;
    justify-content: center;
    align-items: center;
}

.mpMenu {
	height: 40vh;
}

.mpMenu-part {
	height: 10vh;
	display: flex;
	justify-content: center;
    align-items: center;
}

.clicked {
	background-color: black;
}

/* #mpProfile {
	
	
	border: 1px solid green;
}

#mpSitterReg {
	
	
	border: 1px solid green;
}

#mpTicket {

	border: 1px solid green;
}

#mpUsage {
	
	border: 1px solid green;
} */



/* 마이페이지 홈화면 */
.mpPAddr-detail {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 3rem;
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
    justify-content: flex-start; /* 가로 방향 가운데 정렬  */
    align-items: flex-start; /* 세로 방향 가운데 정렬 */
}

.mpPAddr-detail-answer {
	height: 3rem;
	margin-top:1%;
	margin-left: 1rem;
	background: white;
	border-radius: 5pt;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: flex-start; /* 세로 방향 가운데 정렬 */
}





/* 마이페이지 프로필 수정 */
.mpP {
	width: 80vw;
	height: 100%;
	background-color: #FFEBE4;
}

.mpPName {
	margin-left: 5%;
}

.mpPWelcome {
	margin-left: 5%;
	font-size: 25pt;
	font-weight: bold;
}

.mpPProfile {
	width: 80%;
	height: 100%;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;	
}

.mpPPicAndServ {
	display: flex;
}

.mpPPicture {
 width: 220px;
 height: 280px;
 /* margin-top: 3%;
 margin-left: 3%; */
 background-color: white;	
 border: 20px solid #D9D9D9;
 border-radius: 15px;
}

#mpPPicInput {
	margin-top: 5%;
}

#mpPPicture {
	width: 180px;
	height: 240px;
}

.mpPService {
	width: 50%;
	margin: auto;
	margin-left: 30px;
	justify-content: center;
}

.mpPService-state {
	width: 100%;
	display: flex;
	padding: 0 auto;
	justify-content: center;
}

.mpPSitter {
	width: 50%;
	/* height: 100%; */
}

.mpPSitterSpace{
	width: 10px;
}

.mpPSitter-part {
    width: 90%;
	height: 50%;
	margin-top: 3%;
	display: flex;	
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;	
	justify-content: space-around;
	align-items: center;
}

.mpPSitter-part-state {
	margin-left: 5%;
	margin-right: 0 auto;
	background-color: #E7B5AC;
	border: none;
	border-radius: 10%
}

.mpP-info {
	margin-top: 1%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* align-items: center; */
}

.mpP-info-update {
	margin-top: 1%;
}

.mpPPWUpdate {
	display: flex;
}

.mpPPWInput {
      width: 100%;
      border: none;
    }
    
.mpPPW {
	width: 47%;
}

#mpPPWSpace {
	width: 6%;
}

.mpPAddr {
	width: 100%;
	/* border: 1px solid red;  */
	border: none;
}

.mpPInput {
     width: 100%;
     border: none;
    }

#mpP-btn {
	background-color: #E7B5AC;
	border: none;
	border-radius: 10%;
}



/* 마이페이지 시터 등록 및 수정 페이지 */

.mpS {
	width: 80vw;
	height: 100vh;
	background-color: #FFEBE4;
}

.mpS-sub {
	display: flex;
    justify-content: center;
    align-items: center;
		
}

.mpS-part-need {
	width: 50%;
	height: 80%;
	margin-top: 10%;
	border-right: 0.5px solid black;
	display: flex;
	flex-direction: column;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
}

.mpS-part-gonnabe {
	width: 50%;
	height: 80%;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
}

.mpS-part-pic {
	width: 150px;
	height: 150px;
}

.mpS-part-picture1 {
	width: 135px;
	height: 135px;
}

.mpS-part-picture2 {
	width: 100px;
	height: 100px;
	margin-top: 15px;
}

.mpS-part-pic2 {
	width: 100px;
	height: 100px;
}

.mpS-part-inform {
	font-size: 20px;
	margin-top: 5%;
}

.mpS-part-inform2 {
	font-size: 13px;
	margin-top: 5%;	
}

.mpS-icon {
	width: 90%;
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mpS-icon-name { 
	width: 30%;
	display: flex;
	flex-direction: column;
	border-right: 0.5px solid black;
	justify-content: center;
	align-items: center;
}

.mpS-icon-name2 { 
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border-right: 0.5px solid black; */
}
.mpS-icon-pic {
	width: 80px;
	height: 80px;
}

.mpS-icon-mom {
 /* border-right: 0.5px solid black; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.mpS-icon-care {
 /* border-right: 0.5px solid black; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.mpS-icon-pet {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .mpS-part-gonnabe {
	width: 50%;
	height: 80%;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
    justify-content: center; 가로 방향 가운데 정렬
    align-items: center; 세로 방향 가운데 정렬
} */


/* 시터 등록 및 수정 페이지 - Pet */

.mpS-pet {
	width: 80vw;
	height: 100%;
	background-color: #FFEBE4;
}
.mpS-pet-sub {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
	border: 1px solid red;
}

#mpS-logo {
	width: 10vw;
}

.mpS-pet-inform {
	margin-top: 5%;
	margin-bottom: 3%;
}

.mpS-pet-act-bottom {
	width: 50vw;
	display: flex;
	justify-content:space-between;
	                                                               
	border: 1px solid black;
}

.mpS-pet-act-detail {
	width: 20%;
}




/* 모달 스타일 */
.mpPPWFail {
	width:50%;
	height: 50%;
	font-size: 	
}

.modal {
    display: none; /* 처음에는 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
	display: flex;
	
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}