@charset "UTF-8";
@font-face {
    font-family: 'CustomFont';
    src: url('resources/css/sur.ttf') format('truetype');
}

body {
    font-family: 'CustomFont', sans-serif;
}

/* body {
	 overflow-y: scroll;
}
 */

/* 마이페이지 네비게이터 */
.mpMainContainer {
	width: 100vw;
	height: 100%;
	display: flex;
}

.mpContainer {
	width: 19vw;
}

.mpSubContainer {
	width: 16vw;
	text-align: center;
	background-color: white;
}

#mpName {
	width: 16vw;
	height: 15vh;
	font-size: 20pt;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mpMenu {
	height: 40vh;
}

.mpMenu-part {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* #mpProfile {
	
	
	border: 1px solid green;
}

#mpSitterReg {
	
	
	border: 1px solid green;
}

#mpTicket {

	border: 1px solid green;
}

#mpUsage {
	
	border: 1px solid green;
} */
.highlight {
	background-color: #FFB4FF;
}

/* 마이페이지 홈화면 */
.mpPAddr-detail {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 3rem;
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* 가로 방향 가운데 정렬  */
	align-items: flex-start; /* 세로 방향 가운데 정렬 */
}

.mpPAddr-detail-answer {
	height: 3rem;
	margin-top: 1%;
	margin-left: 1rem;
	background: white;
	border-radius: 5pt;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center; /* 가로 방향 가운데 정렬 */
	align-items: flex-start; /* 세로 방향 가운데 정렬 */
}

/* 마이페이지 프로필 수정 */
.mpP {
	width: 83vw;
	height: 100%;
	background-color: #FFEBE4;
}

.mpPName {
	margin-left: 5%;
}

.mpPWelcome {
	margin-left: 5%;
	font-size: 25pt;
	font-weight: bold;
}

.mpPProfile {
	width: 80%;
	height: 100%;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}

.mpPPicAndServ {
	display: flex;
}

.mpPPicture {
	width: 220px;
	height: 280px;
	/* margin-top: 3%;
 margin-left: 3%; */
	background-color: white;
	border: 20px solid #D9D9D9;
	border-radius: 15px;
}

#mpPPicture {
	width: 180px;
	height: 240px;
}

.mpPInputPic {
	margin-top: 20%;
}

.mpPService {
	width: 50%;
	margin: auto;
	margin-left: 30px;
	justify-content: center;
}

.mpPService-state {
	width: 100%;
	display: flex;
	padding: 0 auto;
	justify-content: center;
}

.mpPSitter {
	width: 50%;
	/* height: 100%; */
}

.mpPSitterSpace {
	width: 10px;
}

.mpPSitter-part {
	width: 90%;
	height: 50%;
	margin-top: 3%;
	display: flex;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	justify-content: space-around;
	align-items: center;
}

.mpPSitter-part-state {
	margin-left: 5%;
	margin-right: 0 auto;
	background-color: #E7B5AC;
	border: none;
	border-radius: 10%
}

.mpP-info {
	margin-top: 3%;
	margin-bottom: 3%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* align-items: center; */
}

.mpPAddr-span {
	margin-top: 5%;
	font-weight: bold;
}

.mpP-info-update {
	margin-top: 1%;
}

.mpPPWUpdate {
	display: flex;
}

.mpPPWInput {
	width: 100%;

}

.mpPPW {
	width: 47%;
}

#mpPPWSpace {
	width: 6%;
}

.mpPAddr {
	width: 100%;
	/* border: 1px solid red;  */
	border: none;
}

.normal_input {
	height: 2rem;
	border: none;
	width: 620px;
	border-radius: 10px;
}

.user_phone {
	height: 2rem;
	border: none;
}

.mpPInput {
	width: 100%;
	border: none;
}

#mpP-btn {
	background-color: #E7B5AC;
	border: none;
	border-radius: 10%;
}

/* 마이페이지 시터 등록 및 수정 페이지 */
.mpS {
	width: 84vw;
	height: 100vh;
	background-color: #FFEBE4;
}

.mpS-1 {
display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEBE4;
}

.mpS-2{
	width: 40vw;
    height: 91vh;
    border: 1px solid;
    background-color: #FFEBE4;
        background-color: white;
    border: 5px solid #eeeeee;
    border-radius: 3%;
    padding-bottom: 20px;
}

.mpS-sub {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mpS-part-need {
	width: 50%;
	height: 80%;
	margin-top: 10%;
	border-right: 0.5px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center; /* 가로 방향 가운데 정렬 */
	align-items: center; /* 세로 방향 가운데 정렬 */
}

.mpS-part-gonnabe {
	width: 50%;
	height: 80%;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center; /* 가로 방향 가운데 정렬 */
	align-items: center; /* 세로 방향 가운데 정렬 */
}

.mpS-part-pic {
	width: 150px;
	height: 150px;
}

.mpS-part-picture1 {
	width: 135px;
	height: 135px;
}

.mpS-part-picture2 {
	width: 100px;
	height: 100px;
	margin-top: 15px;
}

.mpS-part-pic2 {
	width: 100px;
	height: 100px;
}

.mpS-part-inform {
	font-size: 20px;
	margin-top: 5%;
}

.mpS-part-inform2 {
	font-size: 13px;
	margin-top: 5%;
}

.mpS-icon {
	width: 90%;
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mpS-icon-name {
	width: 30%;
	display: flex;
	flex-direction: column;
	border-right: 0.5px solid black;
	justify-content: center;
	align-items: center;
}

.mpS-icon-name2 {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border-right: 0.5px solid black; */
}

.mpS-icon-pic {
	width: 80px;
	height: 80px;
}

.mpS-icon-mom {
	/* border-right: 0.5px solid black; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.mpS-icon-care {
	/* border-right: 0.5px solid black; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.mpS-icon-pet {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .mpS-part-gonnabe {
	width: 50%;
	height: 80%;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
    justify-content: center; 가로 방향 가운데 정렬
    align-items: center; 세로 방향 가운데 정렬
} */

/* 시터 등록 및 수정 페이지 - Pet */
.mpS-pet {
	display: flex;
    width: 83vw;
    height: 100%;
    background-color: #FFEBE4;
}

.mpS-pet-2{
	display: flex;
    width: 83vw;
    height: 19vw;
    background-color: #FFEBE4;
}
.mpS-pet-3{
	display: flex;
	justify-content:center;
    width: 83vw;
    height: 25vw;
    background-color: #FFEBE4;
    font-size: 20px;
    color: deepskyblue;
    
}
.mpS-pet-4{
    width: 400px;
    border: 5px solid white;
    height: auto;
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin: 14px;
    align-items: center;
    height: 100px;
}

.mpS-pet-5{
	width: 83vw;
    height: 45vw;
    background-color: #FFEBE4;
}



.mpS-pet-sub {
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center; /* 가로 가운데 정렬 */
	align-items: center; /* 세로 가운데 정렬 */
	margin: 0px;
}

#mpS-logo {
	width: 10vw;
}

.mpS-pet-inform {
	margin-top: 5%;
	margin-bottom: 3%;
}

.mpS-pet-act-bottom {
	width: 50vw;
	display: flex;
	justify-content: space-between;
	padding-left: 105px;
}

.mpS-pet-act-detail {
	width: 20%;
}

/* 모달 스타일 */
.mpPPWFail {
	width: 50%;
	height: 50%;
	font-size:
}

.modal {
	display: none; /* 처음에는 숨김 */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	display: flex;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.que.on>span {
	font-weight: bold;
	color: #f15d30;
}

.message.on>span {
	font-weight: bold;
	color: #f15d30;
}

.messageans {
	display: none;
	overflow: hidden;
	font-size: 14px;
	background-color: #f15d3017;
	padding: 27px 0;
}

.messageans::before {
	display: inline-block;
	content: '내용:';
	font-size: 14px;
	font-weight: bold;
	color: #f15d30;
	margin: 0 5px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	background-color: #87CEFA;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 4vw;
}

/* 유저의 이용권 확인페이지 */
.TTIHContainer {
	width: 83vw;
	height: 100vh;
	background-color: #FFEBE4;
	display: flex;
	flex-direction: column;
/* 	justify-content: center; */
}

.TTIHUsing {
	width: 40%;
	height: 30%;
	margin: auto;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;
	background-color: white;
	border: 5px solid #eeeeee;
	border-radius: 3%; 
}

.couponList {
	margin-top: 1px;
	border: 1px solid black;
}

#cp-btn {
	width: 400px;
}

/* 관리자ID 이용권 구매목록 확인페이지 */
/* .moneyList-1 {
	display: flex;
	
} */

.ticketCheckContainer {
	width: 83vw;
	height: 100%;
	background-color: #FFEBE4;
}

#span-moneyList {
	font-weight: bold;
}

.List-wrap   {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; /* 행들을 시작점으로 정렬 */
	padding: 3%;
	margin: 0 -1.5%; /* 추가 */
}

.moneyList-1 {
	width: calc(30% - 10px);
	height: 30%;
	margin: 2%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.5);
	border: 3px solid gray;
	border-radius: 5%;
}

.ticket-check-btn {
	width: 100%;
	margin: auto;
	transition: all 0.3s ease;
	background-color: #E7B5AC;
	border: none;
	border-radius: 5%;
	cursor: pointer;
}

.ticket-check-btn:hover {
	box-shadow: -7px -7px 20px 0px #fff9, 
				-4px -4px 5px 0px #fff9, 
				7px 7px 20px #0002, 
				4px 4px 5px 0px #0001;
}

/* 이용권 구매페이지 */
.mpT {
	width: 100vw;
	height: 100%;
	background-color: #FFEBE4;
}

.mpT-mention1 {
	width: 100vw;
	height: 150px;
	/* margin-top: px; */
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mpT-mention1-1 {
	width: 100%;
	padding-left: 35%;
	/* text-align: left;  */
	font-size: 15pt;
}


.mpT-mention1-2 {
	width: 100%;
	padding-left: 50%;
/* 	text-align: right;  */
	font-size: 30pt;
}

.mpT-mention2 {
	margin-top: 1%;
	margin-left: 1%;
}

.mpT-mention2-1 {
	font-size:  15pt;
}


.mpT-mention2-2 { 
	font-size: 10pt;
}

#mention1-2span {
	font-weight: bold;
}
.mpT-mention3 {
	width: 50%;
	height: 150px;
	margin-top: 1%;
	margin-left: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gray;
	border-radius: 1%;
	font: 30pt;
}

.buy1month {
	width: 50%;
	height: 200px;
	margin-top: 1%;
	margin-left: 1%;
	padding-right: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 2%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.soupRice {
	width: 100px;
}

.month-name {
	whi
	margin-left: 10px;
	font-size: 30px;
}

.ticketImg12 {
	width: 460px;
}

.buyTicket-btn {
	width: 140px;
	height: 50px;
	background-color: #E7B5AC;
}

/* 쿠폰 등록페이지 */
.pointLanking {
	width: 80vw;
	height: 1600px;
	display: flex;
}

.ms-point {
	border: 1px solid black;
}

.ps-point {
	border: 1px solid black;
}

.cs-point {
	border: 1px solid black;
}
