@charset "UTF-8";

.containar-detail {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #FCE4EC;
	padding-bottom: 20px;
	padding-top: 20px;
}

.containar-detail-pet {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #EDE7F6;
	padding-bottom: 20px;
	padding-top: 20px;
}

.content-detail {
	width: 100%;
}

.container-side {
	width: 60%;
}

.header-detail {
	display: flex;
	gap: 60px;
}

.header-img-detail {
	
	border: 2px solid white;
	height: 200px;
	background-color: white;
	border-radius: 10px;
}

.header-data-detail {
	width: 100%;
	border: 6px solid #D9D9D9;
	border-radius: 10px;
}

.header-data1 {
	display: flex;
	border: 2px solid white;
	height: 200px;
	background-color: white;
	border-radius: 10px;
}

.header-location {
	margin-left: 10px;
}

.body-title-detail {
	padding-top: 10px;
	font-weight: 600;
	font-size: 16pt;
}

.body-content-detail-center {
	width: 100%;
	border: 2px solid white;
	height: 200px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	justify-content: space-evenly;
    text-align: center;
}

.body-content-detail {
	width: 100%;
	border: 2px solid white;
	height: auto;
	background-color: white;
	border-radius: 10px;
	display: flex;
	padding: 15px 5px 15px 5px;
}

.body-content-detail-review {
	 width: 100%;
    border: 2px solid white;
    max-height: 300px; /* 최대 높이를 300px로 지정 */
    background-color: white;
    border-radius: 10px;
    padding: 15px 5px 15px 5px;
    overflow-y: auto; /* 스크롤이 필요할 때만 스크롤 표시 */
}

.balloon {
	position: relative;
	margin: 15px 10px 15px 15px;
	padding: 10px 5px 10px 5px;
	width: 400px;
	height: 50px;
	background: pink;
	border-radius: 10px;
}

.balloon:after {
	border-top: 0px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid pink;
	content: "";
	position: absolute;
	top: -10px;
	left: 20px;
}

.body-content-detail-cover {
	border: 6px solid #D9D9D9;
	border-radius: 10px;
}

.body-content-another {
    width: 300px;
    border: 5px solid white;
    height: auto;
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    padding: 10px;
    justify-content: center;
    margin: 14px;
    align-items: center;
        height: 100px;
}

.body-content-another2 {
    border: 5px solid white;
    height: auto;
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    padding: 10px;
    justify-content: center;
    margin: 14px;
    align-items: center;
}

.body-content-another3 {
border: 5px solid white;
    height: 23vw;
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin: 14px;
    align-items: center;
    width: 30%;
}



/* 활동 가능 시간 */
.body-time {
	border: 2px solid white;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: white;
	border-radius: 10px;
}

.body-time-title {
	display: flex;
	justify-content: space-around;
}

.body-time-body {
	display: flex;
	justify-content: space-evenly;
}

.body-time-days {
	display: flex;
	justify-content: space-evenly;
	padding-top: 10px;
}

.body-times {
	width: -webkit-fill-available;
}

.body-time-day {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

.detail-btn {
	display: flex;
	justify-content: flex-end;
}

.can-do-img{
	text-align: center;
	margin-top: auto;
    margin-bottom: auto;
}

.can-do-img img{
	width: 100px;
	height: 100px;
}

.can-do-text{
	margin-top: 10px;
}

#d-md-flex{
	border-bottom: 1px solid #dee2e6 !important;
}

.star-rating {
  font-size: 24px; /* 조정 가능 */
}

.star {
  color: gray;
}

.highlight {
  color: gold;
}

.review_star {
  position: relative;
  font-size: 30px;
  color: #ddd;
}

.review_star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

.review_star span {
  width: 0;
  position: absolute;
  left: 0;
  color: rgb(253, 197, 2);
  overflow: hidden;
  pointer-events: none;
}
.review_star-rating {
box-sizing: border-box;
/* Auto layout */
padding: 15px 110px;
border: 1px solid #B4B4B4;
border-radius: 4px;

}


