@charset "UTF-8";

.containar-detail{
	display: flex;
	width: 100%;
	height: 100%;
}

.content-detail{
}

.container-side{
	width: 40%;
}

.header-detail{
	display: flex;
}

.header-img-detail{
	width: 40%;
	
}

.header-data-detail{
	width: 50%;
}

.header-data1{
	display: flex;
}

.body-title-detail{
	padding-top: 10px;
	font-weight: 600;
	font-size: 16pt;
}

/* 활동 가능 시간 */
.body-time{
}

.body-time-title{
	display: flex;
	justify-content: space-around;
}

.body-time-body{
	display: flex;
    justify-content: space-evenly;
}

.body-time-days{
	display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.body-times{
    width: -webkit-fill-available;
}

.body-time-day{
	width: 50%;
	 display: flex;
  justify-content:center;
  align-items:center;
}

