@charset "UTF-8";

.containar-detail {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #FCE4EC;
	padding-bottom: 20px;
	padding-top: 20px;
}

.containar-detail-pet {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #EDE7F6;
	padding-bottom: 20px;
	padding-top: 20px;
}

.content-detail {
	width: 100%;
}

.container-side {
	width: 60%;
}

.header-detail {
	display: flex;
	gap: 60px;
}

.header-img-detail {
	
	border: 2px solid white;
	height: 200px;
	background-color: white;
	border-radius: 10px;
}

.header-data-detail {
	width: 100%;
	border: 6px solid #D9D9D9;
	border-radius: 10px;
}

.header-data1 {
	display: flex;
	border: 2px solid white;
	height: 200px;
	background-color: white;
	border-radius: 10px;
}

.header-location {
	margin-left: 10px;
}

.body-title-detail {
	padding-top: 10px;
	font-weight: 600;
	font-size: 16pt;
}

.body-content-detail-center {
	width: 100%;
	border: 2px solid white;
	height: 200px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	justify-content: space-evenly;
    text-align: center;
}

.body-content-detail {
	width: 100%;
	border: 2px solid white;
	height: 200px;
	background-color: white;
	border-radius: 10px;
	display: flex;
}

.body-content-detail-cover {
	border: 6px solid #D9D9D9;
	border-radius: 10px;
}

/* 활동 가능 시간 */
.body-time {
	border: 2px solid white;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: white;
	border-radius: 10px;
}

.body-time-title {
	display: flex;
	justify-content: space-around;
}

.body-time-body {
	display: flex;
	justify-content: space-evenly;
}

.body-time-days {
	display: flex;
	justify-content: space-evenly;
	padding-top: 10px;
}

.body-times {
	width: -webkit-fill-available;
}

.body-time-day {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

.detail-btn {
	display: flex;
	justify-content: flex-end;
}

.can-do-img{
	text-align: center;
	margin-top: auto;
    margin-bottom: auto;
}

.can-do-img img{
	width: 100px;
	height: 100px;
}

.can-do-text{
	margin-top: 10px;
}

#d-md-flex{
	border-bottom: 1px solid #dee2e6 !important;
}